extends layout

block content
	.container.section

		.columns.section
			.column.is-8
				.title 3 Products
			.column.is-4.has-text-right
				a.button.is-active
					i.fa.fa-th.title.is-5
				a.button
					i.fa.fa-align-justify.title.is-5
		.columns
			.column.is-4
				.card
					header.card-header
						p.card-header-title
							| San pham A
						span.card-header-icon.timestamp
							| 12.5 $
					.card-image
						figure.image.is-4by3
							img(src='/images/product.jpg', alt='Image')
					.card-content
						.panel-block-item
							span.likes
								span.tag.is-primary.is-medium save 0.07$
			.column.is-4
				.card
					header.card-header
						p.card-header-title
							| San pham A
						span.card-header-icon.timestamp
							| 12.5 $
					.card-image
						figure.image.is-4by3
							img(src='/images/product.jpg', alt='Image')
					.card-content
						.panel-block-item
							span.likes
								span.tag.is-primary.is-medium save 0.07$
			.column.is-4
				.card
					header.card-header
						p.card-header-title
							| San pham A
						span.card-header-icon.timestamp
							| 12.5 $
					.card-image
						figure.image.is-4by3
							img(src='/images/product.jpg', alt='Image')
					.card-content
						.panel-block-item
							span.likes
								span.tag.is-primary.is-medium save 0.07$